<% provide(:title, 'Авторизация') %>
<div class="row">
  <div class="col-md-6  col-md-offset-3">
    <%= form_for(:session, url: login_path, html: {:class => 'pure-form-stacked'}) do |f| %>

        <%= f.label 'Имя' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label 'Пароль' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit 'Авторизоваться', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>