<div class="row">
  <div class="col-md-6  col-md-offset-3">

    <%= form_for(@schedule, html: {multipart: true, :class => 'pure-form-stacked'}) do |f| %>
        <%= f.label 'Название' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label 'Описание' %>
        <%= f.text_area :description, class: 'form-control' %>

        <%= f.label 'Тип расписания' %>
        <%= f.select :type_schedule,
                     options_for_select([['Привязка к неделе', 1],
                                         ['Привязка к датам', 2],
                                         ['Привязка к номеру недели', 3]]),
                     class: 'form-control' %>

        <%= f.submit 'Сохранить', class: 'btn btn-primary' %>

    <% end %>

  </div>
</div>