<div class="form-edit-schedule-1">
  <table class="table table-bordered">
    <thead >
      <th>Понедельник</th>
      <th>Вторник</th>
      <th>Среда</th>
      <th>Четверг</th>
      <th>Пятница</th>
      <th>Суббота</th>
      <th>Воскресенье</th>
    </thead>
    <tr>

    </tr>
  </table>
</div>