<h1>Schedule editor.</h1>



<%= render 'form_name_desc' %>

<% case @schedule.type_schedule %>
<% when 1 %>
    <p> Type 1</p>
    <%= render 'form_days_type_1' %>
<% when 2 %>
    <p> Type 2</p>
    <%= render 'form_days_type_2' %>
<% when 3 %>
    <p> Type 3</p>
    <%= render 'form_days_type_3' %>
<% else %>
    <p> Another type</p>
<% end %>
