<h1>Schedules list</h1>
<% @schedules.each do |s| %>
    <div class="schedule-item-info">
      <b>Name: </b><p><%= link_to s.name, schedule_path(s) %></p>
      <b>Description: </b><p><%= s.description %> </p>
    </div>
<% end %>