<table style="margin-right: 5px; margin-bottom: 5px; border: solid 1px green">
  <tr style="border: 1px solid black">
    <td rowspan="2" style="border: 1px solid black; padding: 2px"> <%= timed_object_cell.subject.name %></td>
    <td style="border: 1px solid black; padding: 2px">
      <%= timed_object_cell.timeBegin.strftime("%H:%M") %>
    </td>
  </tr>
  <tr style="border: 1px solid black">
    <td style="border: 1px solid black; padding: 2px">
      <%= timed_object_cell.timeEnd.strftime("%H:%M") %>
    </td>
  </tr>
</table>
