<h1>Главная страница</h1>
<h2>Schedule : <%= @main_page_schedule.name %></h2>
<h3>Description : <%= @main_page_schedule.description %></h3>

<div class="schedule-table">
  <table>
    <tr>
      <% @main_page_schedule.schedule_days.each do |i| %>
          <th>day_<%= i.number %></th>
      <% end %>
    </tr>

    <tr>
      <% @main_page_schedule.schedule_days.each do |i| %>
          <td>
            <%= render partial: 'shared/timed_object_cell', locals: {timed_object_cell: i.timed_objects.first} %>
          </td>
      <% end %>
    </tr>

    <tr>
      <% @main_page_schedule.schedule_days.each do |i| %>
          <td>
            <%= render partial: 'shared/timed_object_cell', locals: {timed_object_cell: i.timed_objects.second} %>
          </td>
      <% end %>
    </tr>

  </table>
</div>