// Place all the styles related to the Schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.schedule-item-info {
  margin: 5px 10px 5px;
  padding: 5px 10px 5px 10px;
  border: royalblue solid 2px;
}
/*
.form-edit-schedule-1 table{
  width: 95%;
  border: 1px solid lightblue;
  align-items: center;
  thead th{
    width: 100%;

  }

}*/