<!DOCTYPE html>
<html>
<head>
  <title>ScheduleWebOrganizer</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% flash.each do |message_type, message| %>
      <div class="alert"<%= message_type %>><%= message %></div>
  <% end %>
  <% if logged_in? %>
      <div class="user-info-auth-panel">
        <%= link_to "Выйти из системы", logout_path, method: "delete" %>
      </div>
  <% else %>
      <div class="user-info-auth-panel">
        <%= link_to "Авторизоваться ", login_path %>
      </div>
  <% end %>
</header>
<%= yield %>
</body>
</html>
